@font-face {
  font-family: "Circe";
  src: url(../fonts/Circe-Regular.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Gilam";
  src: url(../fonts/gilam-regular.woff2);
  font-display: swap;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Gilam";
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
}

.text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.header_background {
  background-image: url(../img/parallax_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

.main_background {
  background-image: url(../img/header_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

.footer_background {
  background-image: url(../img/footer_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

.header_flex_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
  padding-top: 37px;
}

.logo {
  justify-self: center;
  align-self: center;
  padding-top: 6px;
}

.header_title {
  margin-top: 120px;
  margin-bottom: 41px;
}

.phone::before {
  content: "\e90a";
  background-image: url(../img/Vector.png);
  display: inline-block;
  background-repeat: no-repeat;
  padding-right: 16px;  
  text-align: start;
}

.header_grid_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding-top: 41px;
  padding-bottom: 80px;
  text-align: center;
}

.header_grid_container_item1 {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #634f2c;
  padding: 220px 148px;
}

.header_grid_container_item2 {
  grid-area: 1 / 3 / 2 / 5;
  background-color: #b4a385;
  padding: 206px 44px;
}

.header_grid_container_item3 {
  grid-area: 1 / 5 / 2 / 7;
  background-color: #e4b564;
  padding: 220px 140px;
}
.header_grid_container_item4 {
  grid-area: 2 / 1 / 3 / 4;
  background-color: #635a4a;
  padding: 220px 162px;
}
.header_grid_container_item5 {
  grid-area: 2 / 4 / 3 / 7;
  background-color: #b08c4d;
  padding: 220px 238px;
}

.main_title {
  padding-top: 80px;
  padding-bottom: 94px;
}

.main_grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(20, 1fr);
  padding-bottom: 192px;
  gap: 30px;
}

.main_grid_container_item1 {
  background-color: #0e0e0e;
  grid-area: 1 / 1 / 9 / 2;
  padding: 44px 113px 219px 52px;
  font-weight: 400;
  line-height: 25px;
}

.main_grid_container_item2 {
  background-color: #242424;
  grid-area: 1 / 2 / 11 / 3;
  font-weight: 400;
  line-height: 25px;
  padding: 44px 114px 345px 51px;  
}

.car_name {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
}

.main_grid_container_item3 {
  background-color: #1f1f1f;
  grid-area: 1 / 3 / 7 / 4;
  font-weight: 500;
  line-height: 25px;
  padding: 44px 117px 186px 48px;
}

.main_grid_container_item4 {
  background-color: #1f1f1f;
  grid-area: 9 / 1 / 21 / 2;
  font-weight: 500;
  line-height: 25px;
  padding: 56px 113px 479px 52px;
}

.main_grid_container_item5 {
  background-color: #e4b564;
  grid-area: 11 / 2 / 20 / 3;
  color: #000000;
  font-weight: 500;
  line-height: 25px;
  padding: 47px 113px 333px 52px;
}

.main_grid_container_item6 {
  background-color: #0e0e0e;
  grid-area: 7 / 3 / 15 / 4;
  font-weight: 500;
  line-height: 25px;
  padding: 44px 117px 244px 48px;
}

.main_grid_container_item7 {
  background-color: #0a0909;
  grid-area: 15 / 3 / 21 / 4;
  font-weight: 700;
  line-height: 25px;
  padding: 44px 117px 208px 48px;
}

.progects_clients_flex {
  display: flex;
  justify-content: space-between;
  padding-top: 161px;
  align-items: center;
}

.footer_flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 238px;
}

.footer_flex_container_item1 {
  background-color: #634f2c;
  text-align: center;
  display: block;
  width: 487px;
  max-width: 487px;
  height: 392px;
  max-height: 392px;
  cursor: pointer;
}

.footer_logo1 {
  padding-top: 171px;
}

.footer_flex_container_item2 {
  background-color: #e8d2abc2;
  text-align: center;
  display: block;
  width: 486px;
  max-width: 486px;
  height: 392px;
  max-height: 392px;
  cursor: pointer;
}

.footer_logo2 {
  padding-top: 140px;
}

.footer_flex_container_item3 {
  background-color: #e4b564;
  text-align: center;
  display: block;
  width: 487px;
  max-width: 487px;
  height: 392px;
  max-height: 392px;
  cursor: pointer;
}

.footer_logo3 {
  padding-top: 174px;
}

.footer_flex_container_item4 {
  background-color: #635a4a;
  text-align: center;
  display: block;
  width: 487px;
  max-width: 487px;
  height: 392px;
  max-height: 392px;
  cursor: pointer;
}

.footer_logo4 {
  padding-top: 174px;
}

.footer_flex_container_item5 {
  background-color: #b08c4d;
  text-align: center;
  display: block;
  width: 486px;
  max-width: 486px;
  height: 392px;
  max-height: 392px;
  cursor: pointer;
}

.footer_logo5 {
  padding-top: 170px;
}

.footer_flex_container_item6 {
  background-color: #634f2c;
  text-align: center;
  display: block;
  width: 486px;
  max-width: 486px;
  height: 392px;
  max-height: 392px;
  cursor: pointer;
}

.footer_logo6 {
  padding-top: 171px;
}

.hidden {
  display: none;
  color: #ffffff;
  font-weight: 400px;
  font-size: 22px;
  line-height: 28px;
}

.footer_works {
  font-weight: 600;
  font-size: 22px;
}

.footer_flex_container_item1:hover .footer_logo1 {
  padding-top: 100px;
}

.footer_flex_container_item2:hover .footer_logo2 {
  padding-top: 61px;
}

.footer_flex_container_item3:hover .footer_logo3 {
  padding-top: 100px;
}

.footer_flex_container_item4:hover .footer_logo4 {
  padding-top: 100px;
}

.footer_flex_container_item5:hover .footer_logo5 {
  padding-top: 96px;
}

.footer_flex_container_item6:hover .footer_logo6 {
  padding-top: 100px;
}

.footer_flex_container_item1:hover .hidden {
  display: block;
}

.footer_flex_container_item2:hover .hidden {
  display: block;   
}

.footer_flex_container_item3:hover .hidden {
  display: block;  
}

.footer_flex_container_item4:hover .hidden {
  display: block;   
}

.footer_flex_container_item5:hover .hidden {
  display: block; 
}

.footer_flex_container_item6:hover .hidden {
  display: block;
}

.button {
  text-decoration: none;
  text-align: center;
  color: #e4b564;
  border: 1px solid #e4b564;
  padding: 10px 39px;
  font-family: "Circe";
  cursor: pointer;
}
